extends ../layout
block content
	.container
		h2 #{title}
		form(method='post')
			select(id='technology', name="technology")
				if (techs)
					each tech in techs
						option(id = tech._id.toString(), value=tech._id.toString() ) #{tech.technology}
			p
				label(for="topic") Nombre
					input(type='text', name='topic', value=topics.topic)
			p
				label(for="topicDesc") Descripción
					input(type='text', name='topicDesc', value=topics.topicDesc)
			p
				label(for="createdDate") Fecha:
					input(type='text', name='createdDate', value=topics.createdDate)
			p
				input(type='submit', value='Guardar')