extends ../layout
block content
	h2 #{title}
	form(method='post')

		p
			label(for="technology") Nombre:
				input(type='text', name='technology', value=technologys.technology)

		p
			label(for="techdesc") Descripción:
				input(type='text', name='techdesc', size=100, value=technologys.technologyDesc)

		p
			label(for="createdDate") Fecha:
				input(type='text', name='createdDate', value=technologys.createdDate)

		- if (typeof(technologys.info) !== 'undefined'){
			p
				label(for="modifyby") Modificado:
					input(type='text', name='modifyby', value=technologys.info.modifyby)
		- }

		p
			input(type='submit', value='Guardar')